In [46]:
#function definition and calling
def first_fun(n,m,g,dd,s,s,s,g,g):
    print('This is our first lecture in function section')
    return n,m
first_fun([12,23,'sachin'],{'sachin':['raghavendra','sai','arun','saiD']})  # calling the fubction

SyntaxError: duplicate argument 's' in function definition (<ipython-input-46-35704f8349c5>, line 2)

In [9]:
first_fun(13)

This is our first lecture in function section

13

In [30]:
# order and numbers of parameter and argumnents should match always
def simplfication(n,m,l,p,s,t):
    summ = n+m
    diff = l-s
    prd = t*p
    print('Addition of n and m is',summ,'\nDifference of l and s is',diff,'\nProduct of t and p is ',prd)
simplfication(1,2,-3,4,5,6)

Addition of n and m is 3
Difference of l and s is -8
Product of t and p is  24

In [32]:
# default arguments
def student(name = 'Arun'):
    return name
student('Sai')

'Sai'

In [ ]:
def summ_fun(a,b):
    print(x+y)
x= int(input('Enter a'))
y= int(input('Enter b'))
summ_fun(x,y)

In [5]:
def sun():
    x = 14
print(sun(12))

TypeError: sun() takes 0 positional arguments but 1 was given

In [19]:
x = lambda x,y : x*y (2,3)
print(x)

<function <lambda> at 0x7ffd08531280>

In [27]:
Exp = (lambda x,y : x**y)(4,4)
print(Exp)

256

### I am using lambda function to print a line

In [20]:
name = "My name is Sachin chaudhary"
lambda name : print(name)

#### What is this? Why it is not printng the name

In [39]:
name = "My name is Sachin chaudhary"
print((lambda name : name)(name))

My name is Sachin chaudhary

In [43]:
name = "My name is Sachin chaudhary"
def print_line(name):
    print(name)
print_line(name)
first_func()

My name is Sachin chaudhary