In [1]:
# create a list 
list1 = []
print(list1,'--->  This is an empty list')

[] --->  This is an empty list

In [2]:
# Create a list with items
list2 = ['Sachin','Suresh','Jyoti','Avalika','Nikita','Sudha','Sanjay','Arun','Babarahul','Sreenu','Ramatulsi']

In [3]:
# accessing list items
list2[2]        # single item

'Jyoti'

In [4]:
list2[1:8]      # slicing

['Suresh', 'Jyoti', 'Avalika', 'Nikita', 'Sudha', 'Sanjay', 'Arun']

In [5]:
list2[3:]       # slicing without end index

['Avalika',
 'Nikita',
 'Sudha',
 'Sanjay',
 'Arun',
 'Babarahul',
 'Sreenu',
 'Ramatulsi']

In [6]:
list2[:9]       # slicing without start index

['Sachin',
 'Suresh',
 'Jyoti',
 'Avalika',
 'Nikita',
 'Sudha',
 'Sanjay',
 'Arun',
 'Babarahul']

In [7]:
list2[-7]       # negative index

'Nikita'

In [8]:
list2[-9:-2]    # negative slicing

['Jyoti', 'Avalika', 'Nikita', 'Sudha', 'Sanjay', 'Arun', 'Babarahul']

In [9]:
list2[0:12:2]   # slicing with steps

['Sachin', 'Jyoti', 'Nikita', 'Sanjay', 'Babarahul', 'Ramatulsi']

In [10]:
list2[::3]      # slicing with steps but not providing start and end index

['Sachin', 'Avalika', 'Sanjay', 'Sreenu']

## Nested list
nested list means list inside a list

In [11]:
# Nested list
list3 = [['Sachin','Suresh','Avalika','Nikita'],[1,2,3,4,5],    # In list5 there are only 3 items which is 3 lists in itself
         ['Data Science','Python','Pandas','Numpy']]
print(list3)

[['Sachin', 'Suresh', 'Avalika', 'Nikita'], [1, 2, 3, 4, 5], ['Data Science', 'Python', 'Pandas', 'Numpy']]

In [12]:
# Check length of a list
print(len(list2))
print(len(list3))

11
3

# Adding Elements to a List

To do this we are having three ways
1. append()
2. insert()
3. extend()

In [13]:
# append method ---> It will add item at the end of list
list3.append('Sachin Chaudhary')
print(list3)

[['Sachin', 'Suresh', 'Avalika', 'Nikita'], [1, 2, 3, 4, 5], ['Data Science', 'Python', 'Pandas', 'Numpy'], 'Sachin Chaudhary']

In [14]:
# insert method  ----> It will add item at the specified index
list3.insert(2,'Meka Avalika')
print(list3)

[['Sachin', 'Suresh', 'Avalika', 'Nikita'], [1, 2, 3, 4, 5], 'Meka Avalika', ['Data Science', 'Python', 'Pandas', 'Numpy'], 'Sachin Chaudhary']

In [15]:
# access item from a nested list
list3[3][1]

'Python'

In [16]:
tuple1 = (1,'Nikita',2,'Sreenu',5.5)

In [17]:
# extend method ----> It will add item  of an iterable (list, tuple, string etc.) to the end of the list.
list3.extend(tuple1)

# extend method will insert item from a collection and put it in list. 
# Here collection is a tuple but It can be any collection.

In [18]:
print(list3)

[['Sachin', 'Suresh', 'Avalika', 'Nikita'], [1, 2, 3, 4, 5], 'Meka Avalika', ['Data Science', 'Python', 'Pandas', 'Numpy'], 'Sachin Chaudhary', 1, 'Nikita', 2, 'Sreenu', 5.5]

In [19]:
# Using for loop in list and add items in empty list
list4 = []    # declare empty 
for var in tuple1:
    list4.append(var)  # all items in tuple collection will be added in list4 one by one in each iteration of for loop.

In [20]:
list4

[1, 'Nikita', 2, 'Sreenu', 5.5]

## Removing Elements from the List

To do this we are having 4 ways
1. remove()
2. pop()
3. del
4. clear()

In [21]:
# remove method ---> It will remove specified item from the list.

list3[0].remove('Suresh')   # Suresh will be removed from the nested list.
print(list3)

[['Sachin', 'Avalika', 'Nikita'], [1, 2, 3, 4, 5], 'Meka Avalika', ['Data Science', 'Python', 'Pandas', 'Numpy'], 'Sachin Chaudhary', 1, 'Nikita', 2, 'Sreenu', 5.5]

In [22]:
# pop method ----> this will remove specified index.
list3.pop(1)    # It will remove [1, 2, 3, 4, 5] this item from list
print(list3)

[['Sachin', 'Avalika', 'Nikita'], 'Meka Avalika', ['Data Science', 'Python', 'Pandas', 'Numpy'], 'Sachin Chaudhary', 1, 'Nikita', 2, 'Sreenu', 5.5]

In [23]:
# del keyword will delete the whole list and specified item both
del list2[5]  # Sudha will be removed from the list
print(list2)

['Sachin', 'Suresh', 'Jyoti', 'Avalika', 'Nikita', 'Sanjay', 'Arun', 'Babarahul', 'Sreenu', 'Ramatulsi']

In [24]:
# clear method will delete all the elements of list and leaves empty list
list5 = ['Sudha','Sanjay','Arun','Babarahul','Sreenu','Ramatulsi']

In [25]:
list5.clear()
print(list5)  # give you empty list.

[]

## Loop Through the Index Numbers

In [26]:
# normal looping over a list.
for sac in list2:
    print(sac)

Sachin
Suresh
Jyoti
Avalika
Nikita
Sanjay
Arun
Babarahul
Sreenu
Ramatulsi

In [27]:
# loop through index. 
# First we will create index nuber using range and len fucntion
for sac in range(len(list2)):    # range(len(list2)) this will convert to index numbers because range starts from 0 as well.
    print(list2[sac])

Sachin
Suresh
Jyoti
Avalika
Nikita
Sanjay
Arun
Babarahul
Sreenu
Ramatulsi

In [28]:
# Sort method---> to sort the list items
list2.sort()
print(list2) # list will be sorted.

['Arun', 'Avalika', 'Babarahul', 'Jyoti', 'Nikita', 'Ramatulsi', 'Sachin', 'Sanjay', 'Sreenu', 'Suresh']

### You cannot copy a list simply by typing list2 = list1,

### because: list2 will only be a reference to list1, and changes made in list1 will automatically also be made in list2.

1. copy() method
2. list() constructor

In [29]:
list_c = list2
print(list2)
print(list_c)
# here it looks like list has been copied but in real it is not. We just assign the lsit. If we made any changes to old list
# it will reflect in copied one as well.

['Arun', 'Avalika', 'Babarahul', 'Jyoti', 'Nikita', 'Ramatulsi', 'Sachin', 'Sanjay', 'Sreenu', 'Suresh']
['Arun', 'Avalika', 'Babarahul', 'Jyoti', 'Nikita', 'Ramatulsi', 'Sachin', 'Sanjay', 'Sreenu', 'Suresh']

In [30]:
list2.append('Milan')
print(list_c)  # you can see in output. your copied list will be affected but you have made changein old one.

['Arun', 'Avalika', 'Babarahul', 'Jyoti', 'Nikita', 'Ramatulsi', 'Sachin', 'Sanjay', 'Sreenu', 'Suresh', 'Milan']

In [31]:
# copy method
list_copy = list2.copy()
print('Old list -->',list2)
print('Copied list -->',list_copy)

Old list --> ['Arun', 'Avalika', 'Babarahul', 'Jyoti', 'Nikita', 'Ramatulsi', 'Sachin', 'Sanjay', 'Sreenu', 'Suresh', 'Milan']
Copied list --> ['Arun', 'Avalika', 'Babarahul', 'Jyoti', 'Nikita', 'Ramatulsi', 'Sachin', 'Sanjay', 'Sreenu', 'Suresh', 'Milan']

In [32]:
# using list constructor
list_copy_1 = list(list3)
print('Old list --->',list3)
print('Copylist --->',list_copy_1)

Old list ---> [['Sachin', 'Avalika', 'Nikita'], 'Meka Avalika', ['Data Science', 'Python', 'Pandas', 'Numpy'], 'Sachin Chaudhary', 1, 'Nikita', 2, 'Sreenu', 5.5]
Copylist ---> [['Sachin', 'Avalika', 'Nikita'], 'Meka Avalika', ['Data Science', 'Python', 'Pandas', 'Numpy'], 'Sachin Chaudhary', 1, 'Nikita', 2, 'Sreenu', 5.5]

In [33]:
# Join two tables using + operator
list_join = list2+list_c
print(list_join)

['Arun', 'Avalika', 'Babarahul', 'Jyoti', 'Nikita', 'Ramatulsi', 'Sachin', 'Sanjay', 'Sreenu', 'Suresh', 'Milan', 'Arun', 'Avalika', 'Babarahul', 'Jyoti', 'Nikita', 'Ramatulsi', 'Sachin', 'Sanjay', 'Sreenu', 'Suresh', 'Milan']

## Question on list

##### Q-1. Sort a list numbers without built-in function

In [34]:
list7 = [-11,12,-20,3,-1,15,-25,9,-99]
list_sort = []          # declare an empty list to store sorted items one by one.
minimum = list7[0]      # assume  first element as smallest and assign it to minimum
for abc in list7:       # will use for loop to iterate each element and compare with smallest.
    if abc < minimum:   # putting a condition to check with minimum number.
        minimum = abc   # if it is greater then smallest item then append it to empty list.
        list_sort.append(abc)

In [35]:
print(list_sort)    # I am not getting all the items. It gives those items which are greater than first index item.


## Solve this with another method.

[-20, -25, -99]

In [36]:
my_list = [-11,12,-20,3,-1,15,-25,9,-99]

for i in range(len(my_list)):                   # range(len(my_list)) --> This will give index from 0 to last item
    for j in range(i + 1, len(my_list)):        #comparing i with j.

        if my_list[i] > my_list[j]:             # i from first for loop and j from 2nd for loop and then compare
            my_list[i], my_list[j] = my_list[j], my_list[i]    # assigning or swapping

print(my_list)

[-99, -25, -20, -11, -1, 3, 9, 12, 15]

#### Q-2. Check if a list contains an element

In [37]:
list5 = ['Sudha','Sanjay','Arun','Babarahul','Sreenu','Ramatulsi']
if 'Sudha' in list5:    #  in operator will be used to check membership
    print('Item is present')

Item is present

And many more questions needs to be practice

The **isinstance()** function in Python is used to check if an object is an instance (or subclass instance) of a specific class or a tuple of classes.

* It's a built-in function
* Returns **True** if the object is of the specified type, and **False** otherwise.

**Syntax:**

    isinstance(object, class_or_tuple)

object: The object you want to check.

class_or_tuple: A class, type, or a tuple of classes/types to check against.

list_a = [1,2,36.7,0.9,'1',9,27,31,0,1.1,34,2,3.4,7,3,2]
---

1. Find the sum of elements in a list.
2. Write programs to find the largest and smallest element in a list. Total 4 programs.
    variation 1- Use first element for comparing values.
    variation 2- Use last element for comparing values.
3. Write a program to find the index of '1'.
4. Write a program to separate all data type objects and store it in different collections.
5. Write a program to find duplicate items in the list. Print all items which are not duplicates.
6. Write a program to find the frequency of each element in the list.

In [8]:
list_a = [1,2,36.7,0.9,'1',9,27,31,0,1.1,34,2,3.4,7,3,2]
summm = 0.0
for i in list_a:
    if type(i) == int or type(i) == float:
        summm = summm + i
print(summm)

160.1

## Q1. Find the Sum of Elements in a List

**Problem Statement:**
To perform the sum operation, ensure that all objects in the list are of a numeric data type.

**Solution:**

```python
list_a = [1, 2, 36.7, 0.9, '1', 9, 27, 31, 0, 1.1, 34, 2, 3.4, 7, 3, 2]

total = 0

# Iterate through the list
for x in list_a:
    # Check if the element is an integer or float and add it to the total
    if isinstance(x, (int, float)):
        total += x
    # If the element is a string that can be converted to a float, convert and add it
    elif isinstance(x, str):
        try:
            total += float(x)
        except ValueError:
            # Ignore non-numeric strings
            pass

print(total)

In [14]:
##    Convert the String to a Number and Then Sum:
list_a = [1, 2, 36.7, 0.9, '1', 9, 27, 31, 0, 1.1, 34, 2, 3.4, 7, 3, 2]

# Convert the string to numeric and sum all elements
sum_list_a = sum(float(x) for x in list_a)
print(sum_list_a)

161.1

In [15]:
# Alternate Approach
total = 0
for x in list_a:
    if isinstance(x, (int, float)):
        total += x
    elif isinstance(x, str) and x.isdigit():
        print(type(x))
        total += int(x)
print(total)

<class 'str'>
161.1

In [16]:
## Exclude Non-Numeric Values and Sum:
list_a = [1, 2, 36.7, 0.9, '1', 9, 27, 31, 0, 1.1, 34, 2, 3.4, 7, 3, 2]

# Sum only numeric elements
sum_list_a = sum(x for x in list_a if isinstance(x, (int, float)))
print(sum_list_a)

160.1

In [ ]:
## Handle Non-Numeric Strings 
# list_a = [1, 2, 36.7, 0.9, '1', 9, 27, 31, 0, 1.1, 34, 2, 3.4, 7, 3, 2]

# Sum by converting possible numeric strings and ignoring errors
sum_list_a = sum(float(x) for x in list_a if isinstance(x, (int, float)) or (isinstance(x, str) and x.isdigit()))
print(sum_list_a)
 
# Alternate
total = 0
for x in list_a:
    if isinstance(x, (int, float)):
        total += x
    elif isinstance(x, str) and x.isdigit():
        total += int(x)
print(total)

In [ ]:
# Without any built in method
list_a = [1, 2, 36.7, 0.9, '1', 9, 27, 31, 0, 1.1, 34, 2, 3.4, 7, 3, 2]

total = 0

# Iterate through the list
for x in list_a:
    # Check if the element is an integer or float and add it to the total
    if isinstance(x, (int, float)):
        total += x
    # If the element is a string that can be converted to a float, convert and add it
    elif isinstance(x, str):
        try:
            total += float(x)
        except ValueError:
            # Ignore non-numeric strings
            pass

print(total)

### Q2. Write Programs to Find the Largest and Smallest Element in a List

**Problem Statement:**
Using the given list, write four programs to find the largest and smallest elements in the list.

- **Variation 1**: Use the first element for comparing values.
- **Variation 2**: Use the last element for comparing values.

In [ ]:
# Find the smallest element using first element
list_a = [1, 2, 36.7, 0.9, '1', 9, 27, 31, 0, 1.1, 34, 2, 3.4, 7, 3, 2]

# Convert all elements to floats if possible
for i in range(len(list_a)):
    if isinstance(list_a[i], str):
        list_a[i] = float(list_a[i])

# Initialize the smallest value with the first element
smallest = list_a[0]

# Iterate through the list to find the smallest element
for x in list_a:
    if x < smallest:
        smallest = x

print(smallest)

#-----------------------------------------------------------------------------
# Find the smallest element using last element

list_a = [1, 2, 36.7, 0.9, '1', 9, 27, 31, 0, 1.1, 34, 2, 3.4, 7, 3, 2]

# Convert all elements to floats if possible
for i in range(len(list_a)):
    if isinstance(list_a[i], str):
        list_a[i] = float(list_a[i])

# Initialize the smallest value with the last element
smallest = list_a[-1]

# Iterate through the list to find the smallest element
for x in list_a:
    if x < smallest:
        smallest = x

print(smallest)

In [ ]:
# Find the Largest Element using last elemnt
# 

list_a = [1, 2, 36.7, 0.9, '1', 9, 27, 31, 0, 1.1, 34, 2, 3.4, 7, 3, 2]

# Convert all elements to floats if possible
for i in range(len(list_a)):
    if isinstance(list_a[i], str):
        list_a[i] = float(list_a[i])

# Initialize the largest value with the last element
largest = list_a[-1]

# Iterate through the list to find the largest element
for x in list_a:
    if x > largest:
        largest = x

print(largest)

#----------------------------------------------------------------------------
# Find the Largest Element using first elemnt

list_a = [1, 2, 36.7, 0.9, '1', 9, 27, 31, 0, 1.1, 34, 2, 3.4, 7, 3, 2]

# Convert all elements to floats if possible
for i in range(len(list_a)):
    if isinstance(list_a[i], str):
        list_a[i] = float(list_a[i])

# Initialize the largest value with the first element
largest = list_a[0]

# Iterate through the list to find the largest element
for x in list_a:
    if x > largest:
        largest = x

print(largest)

### Q3. Write a Program to Find the Index of `'1'`

**Problem Statement:**
Using the given list, write a program to find the index of the element `'1'`.

In [19]:

list_a = [1, 2, 36.7, 0.9, '1', 9, 27,'1', 31, 0, 1.1, 34, 2, 3.4, 7, 3, 2]

# Initialize a variable to store the index
index_of_1 = -1

# Iterate through the list to find the index of '1'
for i in range(len(list_a)):
    if list_a[i] == '1':
        index_of_1 = i
        print(index_of_1)

4
7

In [3]:


# --------------------------
# Initialize a flag to indicate if '1' is found
found = False

# Iterate through the list to find the index of '1'
for i in range(len(list_a)):
    if list_a[i] == '1':
        print(f"Index of '1': {i}")
        found = True
        break

# If '1' is not found, print "Not found"
if not found:
    print("Not found")

-1

### Q4. Write a Program to Separate All Data Type Objects and Store Them in Different Collections

**Problem Statement:**
Using the given list, write a program to separate the elements by their data types and store them in different collections. Specifically, store integers, floats, and strings in separate lists.

In [28]:
dir(list_a)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [32]:
a = list(dir(list_a))
if 'pop()' in a:
    print('Hahahha')

Hahahha

In [29]:

list_a = [1, 2, 36.7, 0.9, '1', 9, 27, 31, 0, 1.1, 34, 2, 3.4, 7, 3, 2,[1,1,2]]

# Initialize empty lists to store different data types
integers = []
floats = []
strings = []

# Iterate through the list and categorize elements by type
for x in list_a:
    if isinstance(x, int):
        integers.append(x)
    elif isinstance(x, float):
        floats.append(x)
    elif isinstance(x, str):
        strings.append(x)

# Print the collections
print("Integers:", integers)
print("Floats:", floats)
print("Strings:", strings)

Integers: [1, 2, 9, 27, 31, 0, 34, 2, 7, 3, 2]
Floats: [36.7, 0.9, 1.1, 3.4]
Strings: ['1']

In [30]:
integers.pop()

2

### Q5. Write a Program to Find Duplicate Items in the List and Print Non-Duplicate Items

**Problem Statement:**
Using the given list, write a program to find duplicate items. Print all items that are not duplicates.

In [ ]:

list_a = [1, 2, 36.7, 0.9, '1', 9, 27, 31, 0, 1.1, 34, 2, 3.4, 7, 3, 2]

# Initialize dictionaries to count occurrences of each item
counts = {}

# Count occurrences of each item in the list
for item in list_a:
    if item in counts:
        counts[item] += 1
    else:
        counts[item] = 1

# Find and print non-duplicate items
non_duplicates = [item for item, count in counts.items() if count == 1]

print("Non-duplicate items:", non_duplicates)

### Q6. Write a Program to Find the Frequency of Each Element in the List

**Problem Statement:**
Using the given list, write a program to find the frequency of each element.

In [ ]:

list_a = [1, 2, 36.7, 0.9, '1', 9, 27, 31, 0, 1.1, 34, 2, 3.4, 7, 3, 2]

# Initialize a dictionary to store the frequency of each item
frequency = {}

# Count the frequency of each item in the list
for item in list_a:
    if item in frequency:
        frequency[item] += 1
    else:
        frequency[item] = 1

# Print the frequency of each item
for item, count in frequency.items():
    print(f"Item: {item}, Frequency: {count}")

## List Comprehension

In [42]:
[butter_paneer for butter_paneer in range(11,41) if butter_paneer % 2 == 0 ]

[12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40]

In [36]:
print(type(b))

<class 'list'>