In [1]:
# create a list 
list1 = []
print(list1,'--->  This is an empty list')

[] --->  This is an empty list

In [2]:
# Create a list with items
list2 = ['Sachin','Suresh','Jyoti','Avalika','Nikita','Sudha','Sanjay','Arun','Babarahul','Sreenu','Ramatulsi']

In [3]:
# accessing list items
list2[2]        # single item

'Jyoti'

In [4]:
list2[1:8]      # slicing

['Suresh', 'Jyoti', 'Avalika', 'Nikita', 'Sudha', 'Sanjay', 'Arun']

In [5]:
list2[3:]       # slicing without end index

['Avalika',
 'Nikita',
 'Sudha',
 'Sanjay',
 'Arun',
 'Babarahul',
 'Sreenu',
 'Ramatulsi']

In [6]:
list2[:9]       # slicing without start index

['Sachin',
 'Suresh',
 'Jyoti',
 'Avalika',
 'Nikita',
 'Sudha',
 'Sanjay',
 'Arun',
 'Babarahul']

In [7]:
list2[-7]       # negative index

'Nikita'

In [8]:
list2[-9:-2]    # negative slicing

['Jyoti', 'Avalika', 'Nikita', 'Sudha', 'Sanjay', 'Arun', 'Babarahul']

In [9]:
list2[0:12:2]   # slicing with steps

['Sachin', 'Jyoti', 'Nikita', 'Sanjay', 'Babarahul', 'Ramatulsi']

In [10]:
list2[::3]      # slicing with steps but not providing start and end index

['Sachin', 'Avalika', 'Sanjay', 'Sreenu']

## Nested list
nested list means list inside a list

In [11]:
# Nested list
list3 = [['Sachin','Suresh','Avalika','Nikita'],[1,2,3,4,5],    # In list5 there are only 3 items which is 3 lists in itself
         ['Data Science','Python','Pandas','Numpy']]
print(list3)

[['Sachin', 'Suresh', 'Avalika', 'Nikita'], [1, 2, 3, 4, 5], ['Data Science', 'Python', 'Pandas', 'Numpy']]

In [12]:
# Check length of a list
print(len(list2))
print(len(list3))

11
3

# Adding Elements to a List

To do this we are having three ways
1. append()
2. insert()
3. extend()

In [13]:
# append method ---> It will add item at the end of list
list3.append('Sachin Chaudhary')
print(list3)

[['Sachin', 'Suresh', 'Avalika', 'Nikita'], [1, 2, 3, 4, 5], ['Data Science', 'Python', 'Pandas', 'Numpy'], 'Sachin Chaudhary']

In [14]:
# insert method  ----> It will add item at the specified index
list3.insert(2,'Meka Avalika')
print(list3)

[['Sachin', 'Suresh', 'Avalika', 'Nikita'], [1, 2, 3, 4, 5], 'Meka Avalika', ['Data Science', 'Python', 'Pandas', 'Numpy'], 'Sachin Chaudhary']

In [15]:
# access item from a nested list
list3[3][1]

'Python'

In [16]:
tuple1 = (1,'Nikita',2,'Sreenu',5.5)

In [17]:
# extend method ----> It will add item  of an iterable (list, tuple, string etc.) to the end of the list.
list3.extend(tuple1)

# extend method will insert item from a collection and put it in list. 
# Here collection is a tuple but It can be any collection.

In [18]:
print(list3)

[['Sachin', 'Suresh', 'Avalika', 'Nikita'], [1, 2, 3, 4, 5], 'Meka Avalika', ['Data Science', 'Python', 'Pandas', 'Numpy'], 'Sachin Chaudhary', 1, 'Nikita', 2, 'Sreenu', 5.5]

In [19]:
# Using for loop in list and add items in empty list
list4 = []    # declare empty 
for var in tuple1:
    list4.append(var)  # all items in tuple collection will be added in list4 one by one in each iteration of for loop.

In [20]:
list4

[1, 'Nikita', 2, 'Sreenu', 5.5]

## Removing Elements from the List

To do this we are having 4 ways
1. remove()
2. pop()
3. del
4. clear()

In [21]:
# remove method ---> It will remove specified item from the list.

list3[0].remove('Suresh')   # Suresh will be removed from the nested list.
print(list3)

[['Sachin', 'Avalika', 'Nikita'], [1, 2, 3, 4, 5], 'Meka Avalika', ['Data Science', 'Python', 'Pandas', 'Numpy'], 'Sachin Chaudhary', 1, 'Nikita', 2, 'Sreenu', 5.5]

In [22]:
# pop method ----> this will remove specified index.
list3.pop(1)    # It will remove [1, 2, 3, 4, 5] this item from list
print(list3)

[['Sachin', 'Avalika', 'Nikita'], 'Meka Avalika', ['Data Science', 'Python', 'Pandas', 'Numpy'], 'Sachin Chaudhary', 1, 'Nikita', 2, 'Sreenu', 5.5]

In [23]:
# del keyword will delete the whole list and specified item both
del list2[5]  # Sudha will be removed from the list
print(list2)

['Sachin', 'Suresh', 'Jyoti', 'Avalika', 'Nikita', 'Sanjay', 'Arun', 'Babarahul', 'Sreenu', 'Ramatulsi']

In [24]:
# clear method will delete all the elements of list and leaves empty list
list5 = ['Sudha','Sanjay','Arun','Babarahul','Sreenu','Ramatulsi']

In [25]:
list5.clear()
print(list5)  # give you empty list.

[]

## Loop Through the Index Numbers

In [26]:
# normal looping over a list.
for sac in list2:
    print(sac)

Sachin
Suresh
Jyoti
Avalika
Nikita
Sanjay
Arun
Babarahul
Sreenu
Ramatulsi

In [27]:
# loop through index. 
# First we will create index nuber using range and len fucntion
for sac in range(len(list2)):    # range(len(list2)) this will convert to index numbers because range starts from 0 as well.
    print(list2[sac])

Sachin
Suresh
Jyoti
Avalika
Nikita
Sanjay
Arun
Babarahul
Sreenu
Ramatulsi

In [28]:
# Sort method---> to sort the list items
list2.sort()
print(list2) # list will be sorted.

['Arun', 'Avalika', 'Babarahul', 'Jyoti', 'Nikita', 'Ramatulsi', 'Sachin', 'Sanjay', 'Sreenu', 'Suresh']

### You cannot copy a list simply by typing list2 = list1,

### because: list2 will only be a reference to list1, and changes made in list1 will automatically also be made in list2.

1. copy() method
2. list() constructor

In [29]:
list_c = list2
print(list2)
print(list_c)
# here it looks like list has been copied but in real it is not. We just assign the lsit. If we made any changes to old list
# it will reflect in copied one as well.

['Arun', 'Avalika', 'Babarahul', 'Jyoti', 'Nikita', 'Ramatulsi', 'Sachin', 'Sanjay', 'Sreenu', 'Suresh']
['Arun', 'Avalika', 'Babarahul', 'Jyoti', 'Nikita', 'Ramatulsi', 'Sachin', 'Sanjay', 'Sreenu', 'Suresh']

In [30]:
list2.append('Milan')
print(list_c)  # you can see in output. your copied list will be affected but you have made changein old one.

['Arun', 'Avalika', 'Babarahul', 'Jyoti', 'Nikita', 'Ramatulsi', 'Sachin', 'Sanjay', 'Sreenu', 'Suresh', 'Milan']

In [31]:
# copy method
list_copy = list2.copy()
print('Old list -->',list2)
print('Copied list -->',list_copy)

Old list --> ['Arun', 'Avalika', 'Babarahul', 'Jyoti', 'Nikita', 'Ramatulsi', 'Sachin', 'Sanjay', 'Sreenu', 'Suresh', 'Milan']
Copied list --> ['Arun', 'Avalika', 'Babarahul', 'Jyoti', 'Nikita', 'Ramatulsi', 'Sachin', 'Sanjay', 'Sreenu', 'Suresh', 'Milan']

In [32]:
# using list constructor
list_copy_1 = list(list3)
print('Old list --->',list3)
print('Copylist --->',list_copy_1)

Old list ---> [['Sachin', 'Avalika', 'Nikita'], 'Meka Avalika', ['Data Science', 'Python', 'Pandas', 'Numpy'], 'Sachin Chaudhary', 1, 'Nikita', 2, 'Sreenu', 5.5]
Copylist ---> [['Sachin', 'Avalika', 'Nikita'], 'Meka Avalika', ['Data Science', 'Python', 'Pandas', 'Numpy'], 'Sachin Chaudhary', 1, 'Nikita', 2, 'Sreenu', 5.5]

In [33]:
# Join two tables using + operator
list_join = list2+list_c
print(list_join)

['Arun', 'Avalika', 'Babarahul', 'Jyoti', 'Nikita', 'Ramatulsi', 'Sachin', 'Sanjay', 'Sreenu', 'Suresh', 'Milan', 'Arun', 'Avalika', 'Babarahul', 'Jyoti', 'Nikita', 'Ramatulsi', 'Sachin', 'Sanjay', 'Sreenu', 'Suresh', 'Milan']

## Question on list

##### Q-1. Sort a list numbers without built-in function

In [34]:
list7 = [-11,12,-20,3,-1,15,-25,9,-99]
list_sort = []          # declare an empty list to store sorted items one by one.
minimum = list7[0]      # assume  first element as smallest and assign it to minimum
for abc in list7:       # will use for loop to iterate each element and compare with smallest.
    if abc < minimum:   # putting a condition to check with minimum number.
        minimum = abc   # if it is greater then smallest item then append it to empty list.
        list_sort.append(abc)

In [35]:
print(list_sort)    # I am not getting all the items. It gives those items which are greater than first index item.


## Solve this with another method.

[-20, -25, -99]

In [36]:
my_list = [-11,12,-20,3,-1,15,-25,9,-99]

for i in range(len(my_list)):                   # range(len(my_list)) --> This will give index from 0 to last item
    for j in range(i + 1, len(my_list)):        #comparing i with j.

        if my_list[i] > my_list[j]:             # i from first for loop and j from 2nd for loop and then compare
            my_list[i], my_list[j] = my_list[j], my_list[i]    # assigning or swapping

print(my_list)

[-99, -25, -20, -11, -1, 3, 9, 12, 15]

#### Q-2. Check if a list contains an element

In [37]:
list5 = ['Sudha','Sanjay','Arun','Babarahul','Sreenu','Ramatulsi']
if 'Sudha' in list5:    #  in operator will be used to check membership
    print('Item is present')

Item is present

And many more questions needs to be practice