## Pandas is a python libraray and used to analyze the data.

In [6]:
import pandas as pd
import numpy as np

In [2]:
pd.__version__

'1.3.5'

## How to create a series from a list, numpy array and dict?

In [4]:
# from a lsit
list1 = list('SACHINCHAUDHARY')
series1 = pd.Series(list1)
print(series1)

0     S
1     A
2     C
3     H
4     I
5     N
6     C
7     H
8     A
9     U
10    D
11    H
12    A
13    R
14    Y
dtype: object

In [9]:
# from numpy array
num_arr = np.arange(1,21)
series2 = pd.Series(num_arr)
print(series2)

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
14    15
15    16
16    17
17    18
18    19
19    20
dtype: int64

In [14]:
# from dictionary.
# As you know dictionary works with key value pair, so we will create key
# from list1 and values from num_arr or using arange function from numpy.
dict1 = dict(zip(list1,np.arange(20)))
series3 = pd.Series(dict1)
print(series3)

S     0
A    12
C     6
H    11
I     4
N     5
U     9
D    10
R    13
Y    14
dtype: int64

## How to convert the index of a series into a column of a dataframe?

In [15]:
df = series3.to_frame()

In [16]:
df

    0
S   0
A  12
C   6
H  11
I   4
N   5
U   9
D  10
R  13
Y  14

In [20]:
df = series3.to_frame().reset_index()

In [18]:
df

  index   0
0     S   0
1     A  12
2     C   6
3     H  11
4     I   4
5     N   5
6     U   9
7     D  10
8     R  13
9     Y  14