# Sets and Dictionaries

In [1]:
# initialise the sets
set1 = {'naresh','suresh','aman','raman'}
type(set1)
set1

{'aman', 'naresh', 'raman', 'suresh'}

In [2]:
# unordered
# set1[1]

In [3]:
# unchangeable
# set1[3] = 'chaman'

In [4]:
# unindexed
# set1[2]

In [5]:
# checking whether duplicates are allowed or not
set2 = {1,2.3,'bhpuendra'}
set2 = {1,2.3,'bhupendra','pavan','pavan','Pavan'}
set2

{1, 2.3, 'Pavan', 'bhupendra', 'pavan'}

In [6]:
tuple1 = tuple(set1)
tuple1

('suresh', 'raman', 'naresh', 'aman')

In [7]:
set3 = set(tuple1)
set3

{'aman', 'naresh', 'raman', 'suresh'}

In [8]:
set3.add(1)

In [9]:
# unordered property can be noticed clearly
set3

{1, 'aman', 'naresh', 'raman', 'suresh'}

In [10]:
# set3.add(1,2)
set3

{1, 'aman', 'naresh', 'raman', 'suresh'}

In [13]:
# update()
set3.update(set2)
set3

{1, 2.3, 'Pavan', 'aman', 'bhupendra', 'naresh', 'pavan', 'raman', 'suresh'}

In [14]:
# remove()
set3.remove('pavan')
set3

{1, 2.3, 'Pavan', 'aman', 'bhupendra', 'naresh', 'raman', 'suresh'}

In [15]:
set3.remove('pavan')
set3

KeyError: 'pavan'

In [16]:
# discard()
set3.discard('pavan')
set3

{1, 2.3, 'Pavan', 'aman', 'bhupendra', 'naresh', 'raman', 'suresh'}

In [17]:
# pop()
set3.pop()
set3

{2.3, 'Pavan', 'aman', 'bhupendra', 'naresh', 'raman', 'suresh'}

In [18]:
set3.pop()
set3

{'Pavan', 'aman', 'bhupendra', 'naresh', 'raman', 'suresh'}

In [19]:
# union()
set4 = set2.union(set3)
set4

{1, 2.3, 'Pavan', 'aman', 'bhupendra', 'naresh', 'pavan', 'raman', 'suresh'}

In [20]:
# intersection
set6 = {1,2,33,4,5,6}
set7 = {1,2,3,4,5,6,7,8,9}
set6.intersection_update(set7)
print(set6)

{1, 2, 4, 5, 6}

In [21]:
set7.intersection_update(set6)
print(set7)

{1, 2, 4, 5, 6}

# Dictionaries
* Dictionaries are used to store data values in key:value pairs.
* ordered*, changeable and does not allow duplicates.
* Duplicate values will overwrite existing values.
*

In [22]:
# defining or intialising dictionaries
dict1 = {'name':'sachin',
         'gender':'male',
         'age': 24,
         'qualification': 'B.tech'
        }
dict1

{'name': 'sachin', 'gender': 'male', 'age': 24, 'qualification': 'B.tech'}

In [23]:
# duplicacy
dict2 = {'happy':'khus',
         'sad':'dukhi',
         'sorrow':'dukhi',
         'sorrow':'dvbdjb',
         'year':2
        }
dict2

{'happy': 'khus', 'sad': 'dukhi', 'sorrow': 'dvbdjb', 'year': 2}

In [24]:
dict3 = {'data':'electricity',
         'science':'subject',
         'field':'area',
         'math':'subject',
         'marks':20
        }
dict3

{'data': 'electricity',
 'science': 'subject',
 'field': 'area',
 'math': 'subject',
 'marks': 20}

In [25]:
dict3['field']

'area'

In [26]:
# we cannnot pass two keys
#dict3['field','marks']

In [27]:
# get()
dict2.get('sad')

'dukhi'

In [28]:
# keys()
dict1.keys()

dict_keys(['name', 'gender', 'age', 'qualification'])

In [29]:
# values
dict1.values()

dict_values(['sachin', 'male', 24, 'B.tech'])

In [30]:
# items()
dict2.items()

dict_items([('happy', 'khus'), ('sad', 'dukhi'), ('sorrow', 'dvbdjb'), ('year', 2)])

In [31]:
# in operator
if 'marks' in dict3:
    print('Present')
else:
    print('Not present')
    
print(dict3)

Present
{'data': 'electricity', 'science': 'subject', 'field': 'area', 'math': 'subject', 'marks': 20}

In [38]:
# add a new item in dictionary

dict1['domain']='data science'
dict1

{'name': 'sachin',
 'gender': 'male',
 'age': 24,
 'qualification': 'B.tech',
 'domain': 'data science'}

# dict_.update( )

In [32]:
# concatenate dict in another dict using uodate() method

print(len(dict3))

dict3.update({'year':2021})

dict3

5

{'data': 'electricity',
 'science': 'subject',
 'field': 'area',
 'math': 'subject',
 'marks': 20,
 'year': 2021}

In [33]:
# trying to pass a list which conatains dictionary as a element
len(dict3)
dict3.update([{'year':21}])
dict3

# it is showing error as expected.
# we have to pass sequence in key value pairs then only it will work.

ValueError: dictionary update sequence element #0 has length 1; 2 is required

In [34]:
# passing an expression in dictionary

dict3.update(x=2,y=3,z='sai')

dict3

{'data': 'electricity',
 'science': 'subject',
 'field': 'area',
 'math': 'subject',
 'marks': 20,
 'year': 2021,
 'x': 2,
 'y': 3,
 'z': 'sai'}

In [35]:
# passing a list to concatenate to dictionary using update method.
list1 = ['student','ragahv',]
list2 = ['roll_no',21]
dict3.update([list2])
dict3.update([list1])
dict3

{'data': 'electricity',
 'science': 'subject',
 'field': 'area',
 'math': 'subject',
 'marks': 20,
 'year': 2021,
 'x': 2,
 'y': 3,
 'z': 'sai',
 'roll_no': 21,
 'student': 'ragahv'}

In [36]:
# nested dictionaries
dict4 = {'math':20,'science':25,'physics':22}
dict3 = {'data':'electricity',
         'science':'subject',
         'field':'area',
         'math':'subject',
         'marks':dict4
        }
dict3

{'data': 'electricity',
 'science': 'subject',
 'field': 'area',
 'math': 'subject',
 'marks': {'math': 20, 'science': 25, 'physics': 22}}

# Removing items from dictionary

##  pop( )   ---  
* The pop() method will removes the item with the specified key name. So we have to pass the key to remove the record.

##  popitem( ) ---
* The popitem() method will removes the last inserted item. So no need to pass anything.

##  del ---
* removes the item with the particular key name. del can delete dictionary completely as well.

##  clear( ) ---
* empties the dictionary

In [46]:
# pop() method

dict1
dict1.pop('age')
print(dict1)

{'name': 'sachin', 'qualification': 'B.tech', 'domain': 'data science'}

In [48]:
# popitem() method

dict1.popitem()
dict1


# we inserted 'domain': 'data science' this entry last so it will be deleted.

{'name': 'sachin', 'qualification': 'B.tech'}

In [52]:
# del keyword
del dict2['happy']

dict2


# del can delete dictionary completely from the memory and 
# if we print that dictionary then it will show error because dictionary was deleted already

{'sad': 'dukhi', 'sorrow': 'dvbdjb', 'year': 2}

In [55]:
# clear() method
dict3
dict3.clear()

dict3

# delete the dictionary but empty dictionary remains in memory

{}

# Copy dictionary

#### There  are two ways to create copy of dictionary 
1. copy( )
2. dict() constructor

In [57]:
# copy() method

dict3 = {'data':'electricity',
         'science':'subject',
         'field':'area',
         'math':'subject',
         'marks':20
        }
dict5 = dict3.copy()

dict5

{'data': 'electricity',
 'science': 'subject',
 'field': 'area',
 'math': 'subject',
 'marks': 20}

In [ ]:
# dict( )  constructor

d