**f"string"**  &ensp; &ensp;&ensp;&ensp;  vs &nbsp; &nbsp; &ensp;&ensp;&ensp;&ensp;&ensp;   **format( )**  &emsp; in strings.

1. String formatting uses a process of string interpolation or **variable substitution**.
2. To evaluate a string literal containing one or more placeholders, yielding a result in which the placeholders are replaced with their corresponding values.

In [11]:
name = 'Sachin Chaudhary'
print('Hello',format(name))
print('Hello',name)

Hello Sachin Chaudhary
Hello Sachin Chaudhary

1. So we can not concatenate or add string and int.
2. But with the help of **format()** we can achieve this.
3. We place the placeholders in string.
4. String format() function use that template string with placeholders and pass the value of that variable.

In [2]:
# simplest way to use format() function
age = 24
text = 'My name is {}, and I am {} years old.'
print(text.format(name,age))

My name is Sachin Chaudhary, and I am 24 years old.

In [3]:
# second method to do concatenation without format method
salary = 50000
print('My salary is ',salary)

My salary is  50000

In [13]:
n = int(input('Enter number'))
alist = ['Apple','Banana','Mango','Grapes','Orange']
fruit = 'I want {} fruits from the following {}'
print(fruit.format(n,alist))

Enter number35
I want 35 fruits from the following ['Apple', 'Banana', 'Mango', 'Grapes', 'Orange']

In [14]:
inst = 'SURE'
text1 = 'and I teach in {} trust'
print(text.format(name,age),text1.format(inst))

My name is Sachin Chaudhary, and I am 24 years old. and I teach in SURE trust

### f"string"

In [15]:
# f"string"
print(f'My name is {name} and I am {age} years old, {inst})')

My name is Sachin Chaudhary and I am 24 years old, SURE)

In [8]:
ed = 'Educational'
print(f'{inst} is an {ed} organisation')

SURE is an Educational organisation

#### Using + operator

In [9]:
grad = 'Bachelor of Technology in Computer Science and Engineering'
des = 'I completed my graduation in '
print(des+grad)

I completed my graduation in Bachelor of Technology in Computer Science and Engineering

In [10]:
a = 2
print(des+a)

TypeError: can only concatenate str (not "int") to str