# Tuple

* ordered
* immutable
* allows duplicates

In [1]:
# check whether it allows duplicacy or not
tuple1 = (1,0.2,3,3,'sachin','arun')
tuple1

(1, 0.2, 3, 3, 'sachin', 'arun')

In [2]:
# accessing elements 
tuple1[5]

'arun'

In [3]:
# negative indexing
tuple1[-3]

3

In [4]:
# tuple slicing            tuple[ start element  :  end element  :  step element]
tuple1[2:5]

(3, 3, 'sachin')

In [5]:
# slicing with step
tuple1[1:6:1]

(0.2, 3, 3, 'sachin', 'arun')

In [6]:
# Slicing with steps
tuple6 = ('sachin','pavan','raghavendra','arun','ksr','sai','kavya','naveen')

In [7]:
tuple6[  :   :   3]

('sachin', 'arun', 'kavya')

In [8]:
tuple1[::2]

(1, 3, 'sachin')

In [9]:
#Check the immutable property
# tuple1[3] = "Raghavendra"

In [10]:
len(tuple1)

6

In [11]:
dsd = 2,2,'string'

In [12]:
dsd

(2, 2, 'string')

In [13]:
print(type(dsd))

<class 'tuple'>

In [14]:
tuple2 = (1,)
print(type(tuple2))

<class 'tuple'>

In [15]:
tuple3 = ()

In [16]:
type(tuple3)

tuple

In [26]:
# tuple hold any item data type
tuple4 = (1,2.3,'minutes ago',[1,2,3],('sachin','raghavendra','are mentor and student'))
tuple4

(1,
 2.3,
 'minutes ago',
 [1, 2, 3],
 ('sachin', 'raghavendra', 'are mentor and student'))

# tuple.  ------>.  list------->tuple

In [30]:
tuple4 = (1,2.3,'minutes ago',[1,2,3],('sachin','raghavendra','are mentor and student'))
#x = list(tuple4)
#x
tuple4

(1,
 2.3,
 'minutes ago',
 [1, 2, 3],
 ('sachin', 'raghavendra', 'are mentor and student'))

In [28]:
x[2] = 'seconds ago'
x

[1,
 2.3,
 'seconds ago',
 [1, 2, 3],
 ('sachin', 'raghavendra', 'are mentor and student')]

In [32]:
y = tuple(x)
y

(1,
 2.3,
 'seconds ago',
 [1, 2, 3],
 ('sachin', 'raghavendra', 'are mentor and student'))

In [36]:
tuple_multiply = tuple4 + tuple1
tuple_multiply

(1,
 2.3,
 'minutes ago',
 [1, 2, 3],
 ('sachin', 'raghavendra', 'are mentor and student'),
 1,
 0.2,
 3,
 3,
 'sachin',
 'arun')

In [37]:
# tuple packing unpacking
tuple8 = 'naresh','suresh','aman','raman'
type(tuple8)

tuple

In [38]:
w = tuple8[0]
x = tuple8[1]
y = tuple8[2]
z = tuple8[3]
print(w)
print(x)
print(y)
print(z)

naresh
suresh
aman
raman

In [39]:
w,x,y,z = ('naresh','suresh','aman','raman')
tuple9 = w,x,y,z
tuple9

('naresh', 'suresh', 'aman', 'raman')